.blog-listing {
    display: flex;
    gap: 6rem;
    padding: 3rem;
    border-bottom: 1px solid var(--base-color);
}

@media (max-width: 48rem) {
    .blog-listing {
        flex-direction: column;
        gap: 1.5rem;
    }
}

.blog-content .entry-title {
    margin: 0;
}

.blog-date {
    white-space: nowrap;
}