.wpcf7 {
    width: max-content;
}

.wpcf7-form {
    padding: 2rem;
    background: var(--base-light);
    opacity: 0.7;
}

.wpcf7-form input, .wpcf7-form textarea {
    font-family: var(--font-family-body);
    color: var(--base-dark);
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    background: var(--base-lighter);
    border: 2px solid var(--base-lighter);
    box-sizing: border-box;
}

/* Change placeholder text color */
.wpcf7-form input::placeholder,
.wpcf7-form textarea::placeholder {
    color: var(--base-dark); 
    opacity: 1; 
}

/* Custom focus border for inputs and textarea */
.wpcf7-form input:focus,
.wpcf7-form textarea:focus {
    outline: none;
    background: var(--base-dark);
    color: var(--base-light);
    border: 2px solid var(--base-dark); /* Use your accent color variable or fallback */
    box-shadow: 0 0 0 2px rgba(0,115,230,0.15); /* Optional: subtle glow */
}

/* Change placeholder color on focus */
.wpcf7-form input:focus::placeholder,
.wpcf7-form textarea:focus::placeholder {
    color: var(--base-light);
    opacity: 1;
}

/*** Style the submit button */
.wpcf7-submit:hover {
    background: var(--base-dark);
    color: var(--base-light);
    border-color: var(--base-dark);
    cursor: pointer;
}

/** Grid layout **/
.contact-page-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.contact-text { order: 2; }
.contact-form { order: 1; }

@media (max-width: 48rem) {
  .contact-page-content {
    grid-template-columns: 1fr;
  }
  .contact-text, .contact-form {
    order: unset;
  }
}

/* Desktop */
@media (min-width: 80rem) { 
    .wpcf7-form {
        width: 24rem;
    }
}